.url-box {
    background: var(--bg1);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    max-width: 600px;
    margin: auto;
}

.short-url a {
    font-size: 4rem;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    display: block;
    color: var(--blue-bright);
}

.copy-btn {
    background: var(--blue-bright);
    color: var(--fg1);
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    margin: 0.5rem auto;
}

.analytics-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.analytics-count {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
